
@{
    Layout = null;
}
<link href="~/Areas/Adm1n_L0g1n/skin/common/css.css" rel="stylesheet" />
@using CZB.Model;

<div class="content">
    <div class="navTitle">素材管理 | 素材列表</div>
    <table width='100%' border='0' cellpadding='0' cellspacing='0' class='table table-bordered table-hover'>
        <thead>
            <tr>
                <td width="40px" align="center">编号</td>
                <td width="100px" align="center">回复类型</td>
                <td width="80px" align="center">内容</td>
                <td width="80px" align="center">图文URL&图片</td>
                <td align="center">图文链接URL</td>
                <td width="40px" align="center">状态</td>
                <td width="40px" align="center">操作</td>
            </tr>
        </thead>
        @{int k = 1;}
        @foreach (Material info in Model)
        {
            <tr>
                <td align="center">@k</td>
                <td align="center">@(info.ReplyType == 0 ? "文字" : info.ReplyType == 1 ? "图片" : "图文")</td>
                <td align="center">@info.Context </td>
                <td align="center">@info.ImageUrl </td>
                <td align="left">@info.LinkUrl </td>
                <td align="center">@(info.State == 0 ? "有效" : "无效")  </td>
                <td align="center">
                    <a href="../Update/@info.ID" class="table-btn-edit">修改</a>
                </td>
            </tr>
            k += 1;
        }
    </table>
</div>