
@{
    Layout = null;
}
<link href="~/Areas/Adm1n_L0g1n/skin/common/css.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div class="content">
    <div class="navTitle">素材管理 | 素材设置</div>
    <form action="/Adm1n_L0g1n/Material/AddOrUpdate" method="post" enctype="multipart/form-data" id="autoReplyForm" name="autoReplyForm" onsubmit="return CheckForm()">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-bordered">
            <tr>
                <td align="right">回复类型:</td>
                <td align="left">
                    <input type="hidden" id="txtId" name="txtId" value=" @if (Model.info != null) { @Model.info.ID }" />
                    <select name="selectReplyType" onchange="changeMessageType()" id="selectReplyType" value=" @if (Model.info != null) { @Model.info.ReplyType}">
                        <option value="0">文字</option>
                        <option value="1">图片</option>
                        <option value="2">图文</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">回复内容&标题:</td>
                <td align="left" colspan="2">
                    <textarea name="txtContent" id="txtContent" style="width: 813px; height:140px;">@if (Model.info != null) { @Model.info.Context }</textarea>
                </td>
            </tr>
            <tr>
                <td align="right">选择图片:</td>
                <td colspan="2">
                    <input type="file" style="width:75px; height:50px;float:left;" name="files[]" id="demo-fileInput-4" multiple>
                    <div id="click" style="width: 50px; margin-left:75px; height: 50px; border: 1px solid #000;">
                        <img id="clickImg" src="@if (Model.info != null) { @Model.info.ImageUrl }" style="width: 100%; height: 100%;" />
                    </div>
                </td>
            </tr>

            <tr>
                <td align="right">链接地址:</td>
                <td align="left">
                    <input name="txtKeyWord" id="txtKeyWord" style="width:320px;" class="txtInput" value="@if (Model.info != null) { @Model.info.LinkUrl }" />
                </td>
            </tr>
            <tr>
                <td align="right">状态:</td>
                <td align="left">
                    <select name="selectState" id="selectState" value="@if (Model.info != null) { @Model.info.State }">
                        <option value="0">有效</option>
                        <option value="1">无效</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="btn-submit" value="提 交">
                </td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        document.getElementById('demo-fileInput-4').addEventListener('change', function (e) {
            var files = this.files;
            var img = new Image();
            var reader = new FileReader();
            reader.readAsDataURL(files[0]);
            reader.onload = function (e) {
                var mb = (e.total / 1024) / 1024;
                if (mb >= 2) {
                    alert('文件大小大于2M');
                    return;
                }
                document.getElementById('clickImg').setAttribute("src", this.result);
            }
        });
        $("#selectReplyType").find("option[value=" + $("#selectReplyType").attr("value") + "]").attr("selected", true);
        $("#selectState").find("option[value=" + $("#selectState").attr("value") + "]").attr("selected", true);
    });
</script>
